.main_data img{
    width: 250px;
}
.data_container{
    display:flex;
    width: 70%;
    margin: auto;
}
.catagory{
    width: 20%;
}
.main_data{
    margin: 20px;
    
}
.right_data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.valen{
    display: inline-block;
    margin-left: 15%;
    /* border: 2px solid red; */
}
.data_btn{
    background-color: #f2f2f2;
    padding: 10px 20px;
    background-color: white;
}
.data_btn:hover{
    background-color: rgb(169, 169, 169);
}