.men_sample img{
    width: 300px;
    padding: 30px;
    margin-top: 50px;
}
.men_sample h3,p{
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}
.men_sample{
    width: fit-content;
    margin: auto;
    text-align: center;
}
.btn{
    background-color: #f2f2f2;
    padding: 10px 20px;
    background-color: white;
}