.uppertitle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    background-color: white;
}
.flex{
    display: flex;
}
.upper_mid{
    margin: 0;
    padding: 0;
}
.upper_mid h1{
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
.upper_left{
    margin-top: 10px;
}
.upper_left div{
    margin: 5px;
}
.upper_left a{
    text-decoration: none;
    color: black;

}
.upper_left hr{
    height: 100%;
}
.upper_right{
    margin-top: 10px;
}
.upper_right a{
    color: black;
}
.title_container{
    /* bottom: 20px; */
   
    /* justify-content: space-between; */
    width: 70%;
    font-weight: 600;
    padding: 10px 80px;
    margin: auto;
    font-family: 'Barlow', sans-serif;
}
.lower_section{
    margin-top: 50px;
    justify-content: space-evenly;
    display: flex;
}
.lower_section a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    margin: 0px 8px;
}
.lower_section a:hover{
    text-decoration: underline;
}
.code_off{
    display: flex;
    color: black;
    text-decoration: none;
    font-size: 10px;
    background-color: #f2f2f2;
    margin: 0px 8px;
    padding: 10px 20px;
}